@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Light.otf') format('opentype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  